DirectoryIndex index.html index.php index
DirectoryIndex index.html
<IfModule mod_rewrite.c>
  RewriteRule ^oauth/(.*)  - [L]
  RewriteRule ^admin/(.*)  - [L]
  RewriteRule ^registration/(.*)  - [L]
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
  RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

</IfModule>
