DirectoryIndex index.html index.php index
<IfModule mod_rewrite.c>
  RewriteRule ^oauth/(.*)  - [L]
  RewriteRule ^admin/(.*)  - [L]
  RewriteRule ^api/(.*)  - [L]
  RewriteRule ^registration/(.*)  - [L]
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</IfModule>
